@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* set screen background to light blue */
  #cardWrapper {
    background-color: hsl(212, 45%, 89%);
  }

  /* dark blue title text */
  #titleText {
    color: hsl(218, 44%, 22%);
  }

  #subText {
    /* grayish blue sub text */
    color: hsl(220, 15%, 55%);
  }

  
}